@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #0f182a;
  font-family: "Inter", sans-serif;
  color: #e2e8f0;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.glow-cursor {
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(500px, rgba(29, 78, 216, 0.15), transparent 80%);
  pointer-events: none;
  z-index: 9999;
}

#main__container {
  width: 80vw;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}


#header {
  width: 50%;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px;
  padding-right: 0;
}

#first__section {
  display: flex;
  flex-direction: column;
}

#first__section img {
  width: 200px;
  margin: 0;
}

#first__section h4 {
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-top: 20px;
}
#first__section p {
  color: #94a3b8;
  margin: 0;
  margin-top: 15px;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  max-width: 400px;
}

#buttons {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 50px;
  align-items: flex-start;
}

.button__container {
  display: flex;
  color: #64748b;
  transition: all 300ms ease;
}

.button__container:hover {
  display: flex;
  color: white;
  margin-left: 50px;
}

.line {
  width: 30px;
  height: 20px;
  border-bottom: 1px solid;
  border-color: inherit;
  margin-right: 10px;
}

#buttons button {
  all: unset;
  color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
}

#links h3 {
  color: #94a3b8;
  font-weight: 300;
}

#links a {
  color: #e94f1c;
  font-weight: 300;
  text-decoration: none;
}

#main {
  width: 50%;
  flex-direction: column;
  padding: 60px;
  padding-left: 0;
}

#main__first p {
    line-height: 26px;
    color: #94a3b8;
    font-weight: 400;
}

.white {
    color: #e2e8f0;
}

#tjanster {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 70px;
}

.tjanster__container {
    display: flex;
    max-width: 580px;
    align-items: flex-start;
    gap: 20px;
}

.tjanster__container img {
    max-width: 150px;
    opacity: 1;
}

.text__container {
    display: flex;
    flex-direction: column;
}

.text__container h4 {
    font-size: 24px;
    color: #e2e8f0;
    margin: 0;
    font-weight: 500;
}

.text__container h6 {
    font-size: 18px;
    color: #64748b;
    margin: 0;
    margin-top: 5px;
    font-weight: 500;
}

.text__container p {
    color: #94a3b8;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
    margin-top: 12px;
}

.tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tags span {
    color: #e94f1c;
    background-color: rgba(233, 79, 28, 0.3);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
}